= javascript_include_tag "preview_park"

.container
  = form_with model: @park_find, local: true do |f|
    = render 'layouts/error_messages', model: f.object
    .row
      .form-group.col-12    
        = f.label :都道府県, class: "col-2 text-center"
        = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"})

        = f.label :市町村, class: "col-1 text-center"
        = f.text_field :city

        = f.label :番地, class: "col-1 text-center"
        = f.text_field :street

        = f.label :その他, class: "col-1 text-center"
        = f.text_field :explosive
    .row
      .form-group.col-12 
        = f.label :名前, class: "col-2 text-center"
        = f.text_field :name, class: "col-3"

    .row
      .form-group.col-12 
        = f.label :単価, class: "col-2 text-center"
        = f.text_field :unit_price
    .row
      .form-group.col-12 
        = f.label :借用開始日時, class: "col-2 text-center"
        = f.datetime_select :start_time, minute_step: 15
    .row
      .form-group.col-12  
        = f.label :借用終了日時, class: "col-2 text-center"
        = f.datetime_select :end_time, minute_step: 15
    .row
      .form-group.col-2.text-center
        = f.label :park_image
      .col-2
        = f.file_field :park_image, id:"park_image"
        #park-image-list{:style=>"width:200px; height:200px; border: thick double #32a1ce;"}
    .row
      .form-group.col.text-center
        = f.label :rending_stop
        = f.check_box :rending_stop
        = f.submit "park create", class: "btn btn-outline-primary"