= javascript_include_tag "map_index"

.container
  #calendar
  .row
    .page_title
      %h2.mb-3 駐車場一覧
    .new_park_link
      = link_to '新規作成', new_park_path, class: "btn btn-primary ml-2"
  .row 
    .park_index.col-6.overflow-auto
      - @park_all.each do |park|
        = link_to park_path(park.id) do
          .card.mt-2
            .row.no-gutters
              .col-xl-4.d-flex.align-items-center
                = image_tag park.park_image,class: "bd-placeholder-img ml-2", width: "100%" if park.park_image.attached?
              .col
                .card-body
                  - if park.end_time < Time.now
                    .alert.alert-danger.text-center
                      = "貸出期間終了"
                  - elsif park.rending_stop == true
                    .alert.alert-warning.text-center
                      = "貸出停止"
                  .name= "#{park.name}"
                  .price= "(15分：#{park.unit_price}円)"
                  .street= "#{park.street}"

    .col-6
      #map

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API_KEY_HTTP']}&libraries=places&callback=initMap"}
