.container
  = form_with url: postal_change_parks_path, method: :get, local: true do |f|
    = f.text_field :postal_code, class: "search_form", placeholder: "郵便番号を入力してください"
  = form_with model: @park, local: true do |f|
    = render 'layouts/error_messages', model: f.object
    .row
      .form
        = f.label :name
        = f.text_field :name
      .form
        = f.label :number
        = f.text_field :number
    .row
      .form
        = f.label :postal_code
        = f.text_field :postal_code

    .row
      .form        
        = f.label :prefecture_code
        = f.collection_select(:prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {}, {class:"prefecture-select"})
      .form
        = f.label :city
        = f.text_field :city
      .form
        = f.label :street
        = f.text_field :street
      .form
        = f.label :explosive
        = f.text_field :explosive
    .row
      .form
        = f.label :unit_price
        = f.text_field :unit_price
    .row
      .form
        = f.label :start_time
        = f.datetime_field :start_time, {minute_step: 15}
      .parkform
        = f.label :end_time
        = f.datetime_field :end_time
    .row
      = f.submit "park create", class: "btn btn-outline-primary"