.container 
  .row 
    .col-10
      %h5 詳細ページ干
    .col 
      - if (current_user.id == @park_find.user.id)
        = link_to '編集', edit_park_path(params[:id]), class: "btn btn-primary"
        = link_to '削除', park_path(params[:id]), method: :delete, class: "btn btn-danger"
      - else
        = link_to 'レンタル', new_park_event_path(params[:id]), class: "btn btn-primary"
  .row
    .col
      %table.table.text-center
        %tr 
          %th 項目
          %th 内容
        %tr 
          %td 名前
          %td= @park_find.name
        %tr 
          %td No
          %td= @park_find.number
        %tr 
          %td 郵便番号
          %td= @park_find.postal_code
        %tr 
          %td 住所
          %td#address= @park_find.city + @park_find.street + @park_find.explosive
        %tr 
          %td 単価
          %td= @park_find.unit_price
        %tr 
          %td 期間
          %td
            .stert_time
              = "#{@park_find.start_time.strftime("%Y年%m月%d日%H:%M")}"
            .beetween
              = "〜"
            .end_time
              = "#{@park_find.end_time.strftime("%Y年%m月%d日%H:%M")}"
    .col
      #calendar
        = month_calendar do |date|
          = date.day
          - if @park_find.start_time < date + 1 && @park_find.end_time >= date
            = "○"



  .map.text-center
    #display 何かが表示される、、、、！
    #map
:css
  #map {
    height: 300px;
    width: 1100px;
    display: flex;
    justify-content: center;
  }

:javascript
  let map
  let geocoder
  const display = document.getElementById('display')
  
  function initMap(){
    let inputAddress = "#{@park_find.city + @park_find.street + @park_find.explosive}";
    geocoder = new google.maps.Geocoder()
    
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
            map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
    });
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        // 下の1行を追加 
        display.textContent = "検索結果：" + results[ 0 ].geometry.location
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API_KEY']}&libraries=places&callback=initMap"}
