.container
  %h1 借用編集
  .row
    .col-6
      %table.table.text-center
        %tr 
          %th 項目
          %th 内容
        %tr 
          %td 名前
          %td= @park_find.name
        %tr 
          %td No
          %td= @park_find.number
        %tr 
          %td 住所
          %td#address= @park_find.city + @park_find.street + @park_find.explosive
        %tr 
          %td 単価
          %td= @park_find.unit_price
        %tr 
    .col-6
      = form_with model: [@park_find, @event], local: true do |f|
        = render 'layouts/error_messages', model: f.object
        .form
          = f.label :駐車車両, class: 'roster-label'
          = f.collection_select(:car_id, Car.where(user_id: current_user.id), :id, :vehicle_type)
        .form
          = f.label :start_date
          = f.datetime_select :start_date, minute_step: 15
        .form
          = f.label :end_date
          = f.datetime_select :end_date, minute_step: 15
        .form
          = f.label :memo
          = f.text_field :memo
        .form
          = f.label :cancel_flag
          = f.check_box :cancel_flag
        = f.submit "rental create!", class: "btn btn-outline-primary"
  .row
    .simple-calendar
      .calendar-heading
        = week_calendar(attribute: :start_date, events: @events, number_of_weeks: 1) do |date, event|
          = date
          - event.each do |event|
            %div
              = event.start_date.strftime("%H:%M") + "〜" + event.end_date.strftime("%H:%M")