.container
  %h1 借用登録
  .row
    .col
      %table.table.text-center
        %tr 
          %th 項目
          %th 内容
        %tr 
          %td 名前
          %td= @park_find.name
        %tr 
          %td 住所
          %td#address= @park_find.city + @park_find.street + @park_find.explosive
        %tr 
          %td 単価
          %td= @park_find.unit_price
        %tr 
          %td 期間
          %td
            .stert_time
              = "#{@park_find.start_time.strftime("%Y年%m月%d日%H:%M")}"
            .beetween
              = "〜"
            .end_time
              = "#{@park_find.end_time.strftime("%Y年%m月%d日%H:%M")}"
    .col-6
      = form_with model: [@park_find, @event], local: true do |f|
        = render 'layouts/error_messages', model: f.object
        .form
          = f.label :駐車車両, class: 'roster-label'
          = f.collection_select(:car_id, Car.where(user_id: current_user.id).where(use_stop: false), :id, :vehicle_type)
        .form
          = f.label :開始日時
          = f.datetime_select :start_date, minute_step: 15
        .form
          = f.label :終了日時
          = f.datetime_select :end_date, minute_step: 15
        .form
          = f.label :メモ（使用用途等）
          = f.text_field :memo
        = f.submit "rental create!", class: "btn btn-outline-primary"
  .row
    .simple-calendar
      .calendar-heading
        = week_calendar(attribute: :start_date, events: @events, number_of_weeks: 1) do |date, event|
          = date
          - event.each do |event|
            - if current_user == event.user
              .alert.alert-success
                =link_to "#{event.start_date.strftime("%H:%M") + "〜" + event.end_date.strftime("%H:%M")}", park_event_path(park_id:event.park.id,id: event.id)
            - else
              .alert.alert-light
                = event.start_date.strftime("%H:%M") + "〜" + event.end_date.strftime("%H:%M")
    %p 凡例
    .alert.alert-success
      = "ログインユーザー"
    .alert.alert-light
      = "その他ユーザー"
