.container
  %h1 借用登録
  = form_with model: [@park_find, @event], local: true do |f|
    = render 'layouts/error_messages', model: f.object
    .row 
      .form
        = f.label :駐車車両, class: 'roster-label'
        = f.collection_select(:car_id, Car.where(user_id: current_user.id), :id, :vehicle_type)
    .row
      .form
        = f.label :start_date
        = f.datetime_select :start_date, minute_step: 15
      .form
        = f.label :end_date
        = f.datetime_select :end_date, minute_step: 15
    .row
      = f.submit "park create", class: "btn btn-outline-primary"