.container 
  .row 
    .col-10
      %h5 詳細ページ
    .col 
      =link_to '編集', edit_park_event_path(park_id:params[:park_id], id: params[:id], start_date: @event.start_date.to_date), class: "btn btn-primary"
      -# =link_to 'キャンセル', cancel_park_event_path(park_id:params[:park_id], id: params[:id]),method: :patch ,class: "btn btn-danger"

.container 
  .row
    .col
      %table.table.text-center
        %tr 
          %th 駐車場名
          %th 開始時間
          %th 終了時間
          %th メモ
          %th 借用時間(時間：分)
          %th 支払い金額
          %th 車両
          %th キャンセルした場合
          %th キャンセル費用
          - use_time = (@event.end_date - @event.start_date).to_i / 60
          - use_hour = use_time / 60
          - use_min = use_time - (use_hour * 60)
          - use_min = "00" if use_min == 0
          %tr 
            %td= link_to @event.park.name, park_path(@event.park.id)
            %td= @event.start_date.strftime("%Y年%m月%d日%H:%M")
            %td= @event.end_date.strftime("%Y年%m月%d日%H:%M")
            %td= @event.memo
            %td= "#{use_hour}:#{use_min}"
            %td= use_time / 15 * @event.park.unit_price
            %td= link_to @event.car.vehicle_type, car_path(@event.car.id)
            %td
              - if (@event.start_date.to_date  - Date.today).to_i < 1
                = "100％負担"
                %td= use_time / 15 * @event.park.unit_price
              - elsif (@event.start_date.to_date  - Date.today).to_i <= 3
                = "50％負担"
                %td=(use_time / 15 * @event.park.unit_price * 0.5).to_i
              - else
                = "0％負担"
            %td


