.container 
  .row
    %h2.mb-3 マイカー一覧
    .new.ml-3
      = link_to '新規登録', new_car_path, class:["btn","btn-primary"]
  .row
    - @car.each do |car|
      .col-4
        = link_to car_path(car.id) do
          .card.mt-3.rounded
            = image_tag car.vehicle_image, class: "bd-placeholder-img card-img-top", height: "180px" if car.vehicle_image.attached?
            .card-body
              - if car.use_stop == true
                %span.badge.badge-warning= "利用停止"
              %span= "#{car.vehicle_type}"
              %br/
              %span= "#{car.city}#{car.class_number} #{car.registration_type}#{car.designated_number}"