= javascript_include_tag "preview"
.container
  %h2.mb-3 マイカー新規登録
  = form_with model: @car, local: true do |f|
    = render 'layouts/error_messages', model: f.object
    .row
      .form-group.col-4.mb-1
        = f.label :vehicle_image
        = f.file_field :vehicle_image, id:"vehicle_image"
        #vehicle-image-list{:style=>"width:200px; height:200px; border: thick double #32a1ce;"}
      .form-group.col-4.mb-1
        = f.label :number_image
        = f.file_field :number_image, id:"number_image"
        #number-image-list{:style=>"width:200px; height:200px; border: thick double #32a1ce;"}
    .row
      .form-group.col-2.mb-1
        = f.label :vehicle_type
        = f.text_field :vehicle_type
    .row
      .form-group.col-2.mb-1
        = f.label :city
        = f.text_field :city
      .form-group.col-2.mb-1
        = f.label :class_number
        = f.text_field :class_number
    .row
      .form-group.col-2.mb-1
        = f.label :registration_type
        = f.text_field :registration_type
      .form-group.col-2.mb-1
        = f.label :designated_number
        = f.text_field :designated_number
      .form
        = f.check_box :use_stop, style: "display: none;"
    .row
      = f.submit "登録", class: "btn btn-outline-primary"