= javascript_include_tag "preview"
.container
  .sub-content
    = form_with model: @car, local: true, class: "py-4 car-form" do |f|
      %h2.mb-3.text-center マイカー新規登録
      .form
        = render 'layouts/error_messages', model: f.object
        .form-row.d-flex.justify-content-center.mb-3
          .field-group.col-md-4
            = f.label :vehicle_image
            = f.file_field :vehicle_image, id:"vehicle_image"
            #vehicle-image-list.ml-4{:style=>"width:200px; height:200px; border: thick double #32a1ce;"}
          .field-group.col-md-4
            = f.label :number_image
            = f.file_field :number_image, id:"number_image"
            #number-image-list.ml-4{:style=>"width:200px; height:200px; border: thick double #32a1ce;"}
        .form-row.d-flex.justify-content-center
          .field-group.col-6
            = f.label :vehicle_type
            = f.text_field :vehicle_type, class: "form-control"
        .form-row.d-flex.justify-content-center
          .field-group.col-md-3
            = f.label :city
            = f.text_field :city, class: "form-control"
          .form-group.col-md-3
            = f.label :class_number
            = f.text_field :class_number, class: "form-control"
        .form-row.d-flex.justify-content-center
          .field-group.col-md-3
            = f.label :registration_type
            = f.text_field :registration_type, class: "form-control"
          .form-group.col-md-3
            = f.label :designated_number
            = f.text_field :designated_number, class: "form-control"
          .form.d-flex.justify-content-center
            = f.check_box :use_stop, style: "display: none;"
        .row.d-flex.justify-content-center
          = f.submit "登録", class: "btn btn-outline-primary"