.container 
  .row 
    .col-sm
      .name
        %h2.mb-3="車名: " + @car.vehicle_type
        - if @car.use_stop == true
          .badge.badge-warning.text-center.ml-3
            %h3= "利用停止"
    .col-sm.text-right
      =link_to '編集', edit_car_path(params[:id]), class: "btn btn-primary" if current_user == @car.user

  .row
    .col
      %h5 車両画像
      = image_tag @car.vehicle_image, height: "300" if @car.vehicle_image.attached?
    .col
      %h5 ナンバー画像
      = image_tag @car.number_image, height: "300" if @car.vehicle_image.attached?
  
  .row
    .col
      %table.table.text-center
        %tr 
          %th 項目
          %th 内容
        %tr 
          %td 地域 分類番号
          %td= "#{@car.city} #{@car.class_number}"
        %tr 
          %td 登録分類 ナンバー
          %td= "#{@car.registration_type} #{@car.designated_number}"
