.container 
  .row 
    .col-10
      %h5 詳細ページ
    .col 
      =link_to '編集', edit_car_path(params[:id]), class: "btn btn-primary" if current_user == @car.user
      - if @car.use_stop == true
        .alert.alert-warning.text-center
          = "利用停止"

  .row
    .col
      %h5 Vehicle Image
      = image_tag @car.vehicle_image, height: "300" if @car.vehicle_image.attached?
    .col
      %h5 Number Image
      = image_tag @car.number_image, height: "300" if @car.vehicle_image.attached?
  
  .row
    .col
      %table.table.text-center
        %tr 
          %th 項目
          %th 内容
        %tr 
          %td 車種
          %td= @car.vehicle_type
        %tr 
          %td 地域 分類番号
          %td= "#{@car.city} #{@car.class_number}"
        %tr 
          %td 登録分類 ナンバー
          %td= "#{@car.registration_type} #{@car.designated_number}"
