.simple-calendar.text-center.my-2
  .calendar-heading
    = week_calendar(attribute: :start_date, events: events, number_of_weeks: 1) do |date, event|
      = date
      - event.each do |event|
        .event
          - if current_user == event.user
            =link_to "#{event.start_date.strftime("%H:%M") + "〜" + event.end_date.strftime("%H:%M")}", park_event_path(park_id:event.park.id,id: event.id), class: "btn btn-success btn-sm"
          - else
            .btn.btn-light.btn-sm
              = event.start_date.strftime("%H:%M") + "〜" + event.end_date.strftime("%H:%M")
              - if current_user == @park.user
                = link_to event.car.designated_number, car_path(event.car_id)
.btn.btn-success.btn-sm.m-2
  = "ログインユーザー"
.btn.btn-light.btn-sm.m-2
  = "その他ユーザー(車両ナンバー)"