!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RentalPark
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %header.bg-info.text-white
    .container.sticky-top
      .d-flex.justify-content-between
        .row
          %h1= link_to 'レンタパーク', root_path, class: "text-white"
        .login-user
          - if user_signed_in?
            = "USER名：#{current_user.nickname}"
            = link_to 'レンタル一覧' , events_path, method: :get ,class: ["logout","btn","btn-success"]
            = link_to 'マイカー' , cars_path, method: :get ,class: ["logout","btn","btn-success"]
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, role:"button", class: ["logout","btn","btn-danger"]
          - else
            = link_to 'ログイン', new_user_session_path, role: "button", class: ["login","btn","btn-primary"]
            = link_to '新規登録', new_user_registration_path, role: "button", class: ["sign-up","btn","btn-success"],data: {"turbolinks"=>false}
  %body
    = yield
  %footer.fixed-bottom.text-center.bg-info.text-white
    %p COPYRIGHT ryo-east 2021 All rights Reserved.
