!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RentalPark
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "current_search"
  %header.bg-info.text-white
    .container.sticky-top
      .d-flex.justify-content-between
        .row
          = link_to root_path, class: "text-white" do
            .row
              %h1 Renta
              = image_tag 'park.png' ,height: '50px'
        .form
          = form_with url: search_parks_path, method: :get, local: true do |f|
            = f.search_field :search_word
            = f.submit "検索", class: "btn btn-light", name: "search-commit", id: "search-btn"
          = submit_tag "現在地検索", class: "btn btn-light", name: "search-commit", id: "current-search", onclick: "CurrentSearch();"
          = link_to 'できない場合', 'https://support.google.com/chrome/answer/142065?co=GENIE.Platform%3DDesktop&hl=ja' ,class: "text-white"
        .login-user
          - if user_signed_in?
            = link_to '駐車場一覧' , parks_path, method: :get ,class: ["logout","btn","btn-primary"]
            = link_to 'レンタル一覧' , events_path, method: :get ,class: ["logout","btn","btn-primary"]
            = link_to 'マイカー' , cars_path, method: :get ,class: ["logout","btn","btn-primary"]
            = link_to "ユーザー：#{current_user.nickname}", edit_user_registration_path(id: current_user.id),class: ["logout","btn","btn-success"]
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, role:"button", class: ["logout","btn","btn-danger"]
          - else
            = link_to 'ログイン', new_user_session_path, role: "button", class: ["login","btn","btn-primary"]
            = link_to '新規登録', new_user_registration_path, role: "button", class: ["sign-up","btn","btn-success"],data: {"turbolinks"=>false}
  .mb-5
    %body
      = yield
  %footer.fixed-bottom.text-center.bg-info.text-white
    %p COPYRIGHT &copy ryo-east 2021 All rights Reserved.
