!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RentalPark
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "current_search"
  %nav.site-header.sticky-top.py-1.bg-info
    .container.sticky-top
      .row.d-flex.justify-content-center.align-items-center.text-center
        .title.col-xl-2.d-flex.justify-content-center
          = link_to root_path, class: "text-white" do
            .row
              %h1 Renta
              = image_tag 'park.png' ,height: '50px'
        .form.row.col-xl-4.d-flex.justify-content-center
          = form_with url: search_parks_path, method: :get, local: true do |f|
            = f.search_field :search_word
            = f.submit "検索", class: "btn btn-light btn-sm", name: "search-commit", id: "search-btn"
          = submit_tag "現在地検索", class: "btn btn-light btn-sm ml-2", name: "search-commit", id: "current-search", onclick: "CurrentSearch();"
          -# = link_to 'できない場合', page_path('can_not_search') ,class: "text-white"
        .login-user.col-xl.my-2
          - if user_signed_in?
            = link_to '駐車場一覧' , parks_path, method: :get ,class: "logout btn btn-primary btn-sm"
            = link_to 'レンタル一覧' , events_path, method: :get ,class: "logout btn btn-primary btn-sm"
            = link_to 'マイカー' , cars_path, method: :get ,class: "logout btn btn-primary btn-sm"
            = link_to "ユーザー：#{current_user.nickname}", edit_user_registration_path(id: current_user.id), class: "logout btn btn-success btn-sm"
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, role:"button", class: "logout btn btn-danger btn-sm"
          - else
            = link_to 'ログイン', new_user_session_path, role: "button", class: "login btn btn-primary btn-sm"
            = link_to '新規登録', new_user_registration_path, role: "button", class: "sign-up btn btn-success btn-sm", data: {"turbolinks"=>false}
  .main
    %body
      = yield
  .container-fluid.text-center.bg-info.text-white
    COPYRIGHT &copy ryo-east 2021 All rights Reserved.
