-# = javascript_include_tag 'address_autofill.js'
-# = javascript_include_tag 'jquery.jpostal.js'

.user-content
  .sub-content.text-center
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %h2.mb-3 新規登録
      .form-new
        = render "users/shared/error_messages", resource: resource
        .form-row
          .col
            = f.label :nickname
            = f.text_field :nickname, class: "form-control"
          .col
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
        .form-row
          .col
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "new-password", class: "form-control"
          .col
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
        .form-row
          .col
            = f.label :last_name
            = f.text_field :last_name, class: "form-control"
          .col
            = f.label :first_name
            = f.text_field :first_name, class: "form-control"
        .form-row
          .field-group.col
            = f.label :last_name_kana
            = f.text_field :last_name_kana, class: "form-control"
          .field-group.col
            = f.label :first_name_kana
            = f.text_field :first_name_kana, class: "form-control"
        .form-row
          .field-group.col
            = f.label :postal_code
            = f.text_field :postal_code, class: "form-control", id: "user_postal_code"
          .field-group.col
            = f.label :phone_number
            = f.text_field :phone_number, class: "form-control"
        .form-row
          .field-group.col
            = f.label :prefecture_id
            = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select form-control", id: "user_prefecture_code"})
          .field-group.col
            = f.label :city
            = f.text_field :city, class: "form-control", id: "user_city"
          .field-group.col
            = f.label :street
            = f.text_field :street, class: "form-control", id: "user_street"
          .field-group.col
            = f.label :explosive
            = f.text_field :explosive, class: "form-control"

        .actions.d-flex.justify-content-center.mt-2
          = f.submit "新規登録", class: "btn btn-primary btn-sm mr-2"
          = render "users/shared/links"
